.App {
  text-align: center;
}

.App-header {
  background-image: url("https://i.pinimg.com/736x/7d/a6/96/7da696f1987d39249d42946f331ccc1b--declutter-lego.jpg");
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-main{
  background-color: #E28DBA;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-footer{
  background-color: #75746e;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + .5vmin);
  color: rgb(255, 252, 252);
}

